# Supabase Configuration
VITE_SUPABASE_URL=https://kvnvpfaiskwgpgkpfrqh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2bnZwZmFpc2t3Z3Bna3BmcnFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyMDU3MjUsImV4cCI6MjA5OTc4MTcyNX0.zmzI8iRimJ3NQpTXf888AuSiCyyvS2bxkYzufRR1uUA
